

.home {
    font-weight: 700;
    border-bottom: 1px solid #69675C;
    margin-bottom: 1 rem; 
}

h2 {

}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --heading-font: 'Montserrat', serif;
    --paragraph-font: 'Montserrat', serif;
    --color-one: #69675C;
    --color-two: #F3E3CE;
    --color-three: #8390B6;
    --color-four: #222916;
    --color-five: #d7d7db;
}

body {
    background-color: #F3E3CE;
    color: #8390b6;
    display: flex;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #424F67;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: double #424F67;
    margin: 0 auto;
}

h1 {
    font-size: 2rem;
}

nav {
    background-color: #8390b6;
    margin: 0 auto;
    max-width: 808px;
}

nav ul {
    display: block;
    background-color: #8390b6;
    color: #F3E3CE;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

nav ul a:hover {
    color: brown;
}





main {
    /*max-width: 840px;*/
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1em;
    background-color: #424F67;
    /*padding: 10px;*/
    grid-row-start: 1;
    grid-row-end: 3;
    grid-template-columns: auto auto auto;    
    margin-top: 20px;
}

main h2 {
    /*max-width: 90%;*/
    display: grid;
    text-align: center;
    background-color: #E3F3F7;
    /*padding: 10px;*/
    grid-column: span 3;
    grid-row: span 3;
    border: double #424F67;
    
}


.temples figure img {
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    grid-gap: 1em;
    background-color: #E3F3F7;
    padding: 5px;
    grid-column: span 3;
    height: 150px;
    width: auto;
}


.temples figcaption {
    max-width: 95%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 10px;
    grid-row-start: 1;
    grid-row-end: 4;
    width: 200px;
    text-align: center;
}