/*// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900*/

/*.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}*/

:root {
    --font-family: 'Montserrat', sans-serif;
    --background-color: #0b3003;
    --second-background-color: #669bbc;

}

body {
    font-family: "Montserrat", sans-serif;
    height: 100%vh;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #0b3003;
}

header {
    background-color: #0b3003;
    color: #dedec4;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bolder;
    height: 74px;
    font-size: 26px;
    padding-top: 38px;
    width: 95vw;
}

.sm {
    position: relative;
    width: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
}

/********** Data **********/
.card__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /*grid-column: 1fr 1fr;*/
}

.card {
    background: #dedec4;

    border-radius: 2rem;
    border: double;
    /*position: relative;*/
    /*min-width: 350px;*/
    text-align: center;
    padding: 0.5rem;
    margin-top: 5px;
    margin-right: auto;
    /**/
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    max-width: 350px;
}

.card__header {
    margin: 1rem 0;
    font-size: 1.5rem;
    font-family: cursive;
    color: var(--clr-primary);
}

.card__list{
    margin: 2rem;
    list-style: none;
    display: grid;
    grid-column: 1/4;
    grid-template-columns: 1fr 1fr;
    column-gap: 1px;
}

li:nth-child(odd) {
    background: #0b3003;
    text-align: right;
    color: #dedec4;
}

li:nth-child(even) {
    background: #dedec4;
    text-align: left;
    color: #0b3003;
}

.card__item {
    margin: .5rem;
    font-size: 1rem;
    text-align: odd right;
    font-weight: bold;
}

/*.card__item::before{
    font-weight: 900;
    font-size: 1.3rem;
    color: var(--clr-primary);
    position: relative;
    vertical-align: middle;
    margin-right: 1rem;
}*/

/********** Weather **********/
.card2__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.card2 {
    background: #dedec4;
    border-radius: 2rem;
    border: double;
    /*position: relative;*/
    /*min-width: 350px;*/
    text-align: center;
    padding: 0.5rem;
    margin-top: 5px;

    margin-left: auto;
    /**/
    grid-column: 3 / span 1;
    grid-row: 3 / span 1;
    max-width: 350px;
}

.card2__header {
    margin: 1rem 0;
    font-size: 1.5rem;
    font-family: cursive;
    color: var(--clr-primary);
}

.card2__list{
    margin: 2rem;
    list-style: none;
    display: grid;
    grid-column: 1/4;
    grid-template-columns: 1fr 1fr;
    column-gap: 1px;
}

.card2 li:nth-child(odd) {
    background: #0b3003;
    text-align: right;
    color: #dedec4;
}

.card2 li:nth-child(even) {
    background: #dedec4;
    text-align: left;
    color: #0b3003;
}

.card2__item {
    margin: .5rem;
    font-size: 1rem;
    text-align: odd right;
    font-weight: bold;
}

/*.card2__item::before{
    font-weight: 900;
    font-size: 1.3rem;
    color: var(--clr-primary);
    position: relative;
    vertical-align: middle;
    margin-right: 1rem;
}*/

.icon {
    position: absolute;
    width: 174px;
    padding: 80px;
    align-items: right;
}


/********** footer **********/
footer {
    background-color: #0b3003;
    color: white;
    padding: 10px;
    text-align: center;
    margin: 10px 5px;
    height: 74px;
    margin-bottom: 20px;
}


/********** mobile **********/
@media screen and (max-width: 808px) {
    
    .sm {
        position: relative;
        height: auto;
        padding-top: 25px;
    }

    .main {
        grid-template-columns: 1fr;
    }

    .card, .card2 {
        grid-column: 1 / span 1;
    }
}