h1 {
    text-align: center;
}

main {
    margin: 0 auto;
    width: 400px;
    display: flex;
    flex-direction: column;
}

img {
    display: block;
    width: 100%;
    background: black;
    opacity: 0;
    animation: fade 15s;
}

@keyframes fade {
    0% {
        background-color: black;
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

footer {
    text-align: center;
}