@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --heading-font: 'Montserrat', serif;
    --paragraph-font: 'Montserrat', serif;
}

.pages {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(34, 50, 174);
}

.pages a {
    color: white;
    text-decoration: none;
}

body {
    display: grid;
    height: 100vh;
    grid-template: auto 1fr auto / 300px 1fr auto;
}

header {
    background: rgb(87, 86, 86);
    /*padding: 2rem;*/
    grid-column: 1 / 4;
}

header h1 {
    padding: 1rem;
    color: white;
    font-size: medium;
    height: 50px;
    font-weight: lighter;
}

.card {
    display: flex;
    flex-direction: column;
    border: 1px solid blueviolet;
    border-radius: 8px;
    justify-content: normal;
}