/* the temples-large.css file is used for the larger view */


@media only screen and (min-width: 600px) {

    h1.handler {
        display: block;
        width: 100%;
    }

    h2, nav {
        display: flex;
        align-items: center;
    }

    #hamburger {
        display: none;
    }

    .pages {
        /*display: flex;*/
        justify-content: flex-end;
        flex-direction: row;
        /*flex-grow: 1;*/
        background-color: #222916;
        /*width: auto;*/
    }

    .pages a {
        display: block;
        /*flex: auto;*/
        /*text-align: center;*/
        font-size: 1.5rem;
    }

    .pages a:hover {
        background-color: white;
        color: black;
    }

    main {
        padding: 1rem;
        max-width: 1000px;
        margin: 0 auto;
        text-align: center;
    }

    .templelist {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        background-color: #222916;
        padding: 50px;
        gap: 10px;
        color: #F3E3CE;
    }


}