:root {
    --font-family: 'Montserrat', sans-serif;
    --background-color: #0b3003;
    --second-background-color: #669bbc;
    --third-background-color: #babacf;
}

body {
    font-family: "Montserrat", sans-serif;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #babacf;
}

header h1 {
    background-color: #0b3003;
    color: #dedec4;
    /*display: flex;
    flex-direction: column;*/
    text-align: center;
    font-weight: bolder;
    height: 74px;
    font-size: 26px;
    /*padding-top: 20px 0;*/
    width: 100%;
    margin: 0;
    line-height: 74px;
    /*match line height to container, virtically centered*/
    display: block;
}

.image-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    /*max-width: 2000px;*/
    margin: 0;
    /*padding: 0;*/
}

.sm {
    width: 100%;
    object-fit: cover;
    height: calc(100vh - 180px);
    /*woohoo--just learned how to adjust height to fit viewport and account for header and footer*/
    /*border: 5px solid #0b3003;*/

}

.card,
.card2 {
    background: #dedec4;
    border-radius: 2rem;
    border: double;
    text-align: center;
    padding: 1rem;
    position: absolute;
    width: 300px;
    max-width: 90%;
}


.card {
    top: 5%;
    left: 5%;
}

.card2 {
    top: 40%;
    right: 5%;
}

.card__header,
.card2__header {
    margin: 1rem 0;
    font-size: 1.5rem;
    font-family: cursive;
    background: #0b3003;
    color: #dedec4;
}

.icon {
    width: 20px;
}

.cloud {
    width: 60px;
}

.card__list,
.card2__list {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    margin: 1rem 0;
    padding: 0;
}

.card__item,
.card2__item {
    font-size: 1rem;
    font-weight: bold;
    color: #0b3003;
    text-align: left;
}

.card2__item span#windChill {
    font-size: 1rem;
    font-weight: bold;
    color: #0b3003;
    text-align: left;
    display: inline;
}

.card__item:nth-child(odd),
.card2__item:nth-child(odd) {
    text-align: right;
}

.card__item:nth-child(even),
.card2__item:nth-child(even) {
    text-align: left;
}

.icon {
    position: absolute;
    width: 174px;
    padding: 80px;
}

footer {
    background-color: #0b3003;
    color: #dedec4;
    padding: 10px 0;
    text-align: center;
    margin: 0;
    height: 74px;
    /*margin-bottom: 20px;*/
    width: 100%;
    position: relative;
    font-size: 16px;
}

@media screen and (max-width: 808px) {
    .image-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card,
    .card2 {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        width: 100%;
        margin: 10px 0;
    }
}