@media screen and (min-width: 1000px) {
    #weather h2:first-child::after {
        content: "☼";
    }

    #weather img {
        display: none;
    }

    .data {
        position: absolute;
        background-color: var(--main-background-color);
        opacity: 0.7;
    }

    .data h2 {
        background-color: var(--section-head-background-color);
        color: #0b3003;
        width: 10rem;
        padding: 1rem;
        margin-left: -2rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    #data {
        top: 10rem;
        left: 5rem
    }

    #weather {
        bottom: 10rem;
        right: 5rem;
    }
}