.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}


* {
    background-color: #421f1f;
    color: antiquewhite;
    text-align: center;
}

footer {
    background-color: #421f1f;
    color: antiquewhite;
    padding: 10rem;
    text-align: center;
    margin: 0;
}