@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --heading-font: 'Montserrat', serif;
    --paragraph-font: 'Montserrat', serif;
    --color-one: #69675C;
    --color-two: #F3E3CE;
    --color-three: #8390B6;
    --color-four: #222916;
    --color-five: #d7d7db;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "montserrat", sans-serif;
}

/* mobile **************************/
header {
	background-color: #d7d7db;
	display: grid;
	grid-gap: 1rem;
	padding: 20px;
	border: 1px double #8390b6;
	box-shadow: 0 0 30px #222916;
}

header,
main {
	margin: 0 auto;
}

h1 {
	font-size: 2rem;
}

nav {
	background-color: #69675C;
	display: flex;
	flex-direction: column
}

nav a {
	display: block;
	color: #d7d7db;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
}

nav a:hover {
	text-decoration: underline double;
}

.active {
	color: brown;
}