/* The temples.css file is used for the mobile view*/
/*Most of your CSS should be located in the temples.css file in mobile first design*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --heading-font: 'Montserrat', serif;
    --paragraph-font: 'Montserrat', serif;
    --color-one: #69675C;
    --color-two: #F3E3CE;
    --color-three: #8390B6;
    --color-four: #222916;
    --color-five: #d7d7db;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "montserrat", sans-serif;
	background-color: #8390B6;
}

/* mobile **************************/
header {
	background-color: #222916;
	color: #f3e3ce;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	border: 1px double #222916;
	box-shadow: 0 0 30px #d7d7db;
	position: relative;
	height: 74px;
}

/*header,
main {
	margin: 0 auto;
}*/

/*h1 {
	font-size: 2rem;
}*/

.pages {
	background-color: #69675C;
	display: flex;
	flex-direction: column;
}

.pages a {
	display: block;
	color: #d7d7db;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
	height: auto;
}

nav a:hover {
	text-decoration: underline;
	font-size: larger;
	font-weight: bold;
}

.hamburger::before {
	content: ☰ ;  
}

.hamburger.open::before {
	content: ❌;
}

/*.active {
	color: brown;
}*/

.temples {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	background-color: #222916;
	padding: 50px;
	gap: 10px;
	color: #F3E3CE;
}

footer {
	background-color: #595959;
    color: white;
    padding: 2rem;
    text-align: center;
    margin: 0;
}