/* the temples-large.css file is used for the larger view */


@media only screen and (min-width: 505px) {

    .pages {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        width: auto;
    }

    .pages a {
        flex: 1 1 100%;
        text-align: center;
    }

    .pages a:hover {
        background-color: white;
        color: black;
    }

    main {
        padding: 1rem;
        max-width: 1000px;
        margin: 0 auto;
        text-align: center;
    }

    .temples {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        background-color: #222916;
        padding: 50px;
        gap: 10px;
        color: #F3E3CE;
    }

    /*.temples {
        grid-template-columns: repeat(3, 1fr);
    }*/

}