@media only screen and (min-width: 505px) {

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
    }

    .pages {
        justify-content: flex-end;
        flex-direction: row;
        width: auto;
    }

    .pages a {
        flex: 1 1 100%;
    }

    .pages a:hover {
        background-color: white;
        color: black;
    }

    main {
        padding: 1rem;
        max-width: 1200px;
        margin: 0 auto;
        text-align: center;
    }

    

}